.navbar{

position:fixed;

top:0;

left:0;

width:100%;

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

background:rgba(5,8,22,.6);

backdrop-filter:blur(12px);

z-index:1000;

border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

font-size:28px;

font-weight:800;

letter-spacing:2px;

color:white;

cursor:pointer;

}

.logo span{

color:#00d9ff;

}

.nav{

display:flex;

align-items:center;

gap:35px;

}

.nav a{

color:#fff;

text-decoration:none;

font-size:16px;

transition:.3s;

position:relative;

}

.nav a:hover{

color:#00d9ff;

}

.nav a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:2px;

background:#00d9ff;

transition:.3s;

}

.nav a:hover::after{

width:100%;

}

.resume-btn{

padding:12px 28px;

border:none;

border-radius:50px;

background:#00d9ff;

color:#050816;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.resume-btn:hover{

transform:translateY(-4px);

box-shadow:0 0 20px #00d9ff;

}

.mobile-menu{

display:none;

font-size:28px;

color:white;

cursor:pointer;

}

@media(max-width:900px){

.nav{

position:absolute;

top:80px;

left:0;

width:100%;

background:#050816;

flex-direction:column;

padding:30px 0;

display:none;

}

.nav.active{

display:flex;

}

.mobile-menu{

display:block;

}

}