@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root{
    --bg:#050816;
    --primary:#00D9FF;
    --secondary:#8B5CF6;
    --text:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Space Grotesk",sans-serif;
    background:var(--bg);
    color:var(--text);
    overflow-x:hidden;
}

h1,h2,h3,h4,h5{
    font-family:"Orbitron",sans-serif;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#00D9FF;
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#050816;
}